<style type="text/css">
#wpbody { margin-left: 20px; }
</style>
<script type="text/javascript">

$.fn.flash = function(duration) {
    this.animate( { backgroundColor: "yellow" }, duration / 2 );
    this.animate( { backgroundColor: "#ededed" }, duration / 2 );
};

var save_draft = function(continuous) {
	var content = tinyMCE.get("content").getContent();
	$.post("/drafts/save", {authenticity_token: AUTH_TOKEN, draft_id: <%= @drft.id %>, content: content, title: $("#title").attr("value")},
		function(ret) {
			var ret = JSON.parse(ret);
			var now = new Date();
			$("#saved-at-hour").text(now.format("h:MM:sstt"));
			$("#saved-at-day").text(now.format("dddd dS, yyyy"));
			$("#last-edit").flash(300);
		}
	)
	if (continuous) {
		setTimeout("save_draft(true)", 1000 * 60 * 2) // Save every two minutes.
	} else {
		return false;
	}
};

$(document).ready(function() {
	$("#public_link").click(function() {
		save_draft(false);
	});
	$("#save-now").click(function() {
		save_draft(false);
	});
	setTimeout("save_draft(true)", 3000);
});

try{convertEntities(postL10n);}catch(e){};
var wordCountL10n = {
	count: "Word count: %d"
};

</script>

<div id="wpbody-content">
<div id="screen-meta">
<div id="screen-options-wrap" class="hidden">

	<form id="adv-settings" action="" method="post">
	<h5>Show on screen</h5>
	<div class="metabox-prefs">
<label for="tagsdiv-post_tag-hide"><input class="hide-postbox-tog" name="tagsdiv-post_tag-hide" type="checkbox" id="tagsdiv-post_tag-hide" value="tagsdiv-post_tag" />Post Tags</label>
<label for="categorydiv-hide"><input class="hide-postbox-tog" name="categorydiv-hide" type="checkbox" id="categorydiv-hide" value="categorydiv" />Categories</label>
<label for="postexcerpt-hide"><input class="hide-postbox-tog" name="postexcerpt-hide" type="checkbox" id="postexcerpt-hide" value="postexcerpt" />Excerpt</label>
<label for="trackbacksdiv-hide"><input class="hide-postbox-tog" name="trackbacksdiv-hide" type="checkbox" id="trackbacksdiv-hide" value="trackbacksdiv" />Send Trackbacks</label>
<label for="postcustom-hide"><input class="hide-postbox-tog" name="postcustom-hide" type="checkbox" id="postcustom-hide" value="postcustom" />Custom Fields</label>

<label for="commentstatusdiv-hide"><input class="hide-postbox-tog" name="commentstatusdiv-hide" type="checkbox" id="commentstatusdiv-hide" value="commentstatusdiv" />Discussion</label>
<label for="commentsdiv-hide"><input class="hide-postbox-tog" name="commentsdiv-hide" type="checkbox" id="commentsdiv-hide" value="commentsdiv" checked="checked" />Comments</label>
<label for="slugdiv-hide"><input class="hide-postbox-tog" name="slugdiv-hide" type="checkbox" id="slugdiv-hide" value="slugdiv" />Post Slug</label>
<label for="revisionsdiv-hide"><input class="hide-postbox-tog" name="revisionsdiv-hide" type="checkbox" id="revisionsdiv-hide" value="revisionsdiv" checked="checked" />Post Revisions</label>
	<br class="clear" />
	</div>
<h5>Screen Layout</h5>
<div class='columns-prefs'>Number of Columns:
<label><input type='radio' name='screen_columns' value='1' checked='checked' /> 1</label>

<label><input type='radio' name='screen_columns' value='2' /> 2</label>
</div>
<div><input type="hidden" id="screenoptionnonce" name="screenoptionnonce" value="d2f747b77e" /></div>
</form>
</div>

	<div id="contextual-help-wrap" class="hidden">
	<h5>Get help with &#8220;Edit Post&#8221;</h5><div class="metabox-prefs">
	<p>Most of the modules on this screen can be moved. If you hover your mouse over the title bar of a module you&rsquo;ll notice the 4 arrow cursor appears to let you know it is movable. Click on it, hold down the mouse button and start dragging the module to a new location. As you drag the module, notice the dotted gray box that also moves. This box indicates where the module will be placed when you release the mouse button.</p>

	<p>The same modules can be expanded and collapsed by clicking once on their title bar and also completely hidden from the Screen Options tab.</p>
<p><a href="http://codex.wordpress.org/Writing_Posts" target="_blank">Writing Posts</a></p></div>
<h5>Other Help</h5><div class="metabox-prefs"><a href="http://codex.wordpress.org/" target="_blank">Documentation</a><br /><a href="http://wordpress.org/support/" target="_blank">Support Forums</a></div>
	</div>

</div>


<div class="wrap">
		<div id="icon-edit" class="icon32"></div>
	<h2 style="padding-bottom: 6px; margin-bottom: 10px; border-bottom: 1px solid #e6e6e6; font-size: 20px"><strong>Draft away!</strong> <span style="font-size: 18px">Then, when you're ready to share, send friends here &rarr; <span style="font-weight: bold; font-style: normal; text-align: center; width: 250px; font-size: 22px;" id="public_link"><a href="/review/<%= @drft.public_url %>" target="_blank" style="background-color: #FFFBCC;">draftback.com/review/<%= @drft.public_url %></a></span></span></h2>
<form name="post" action="post.php" method="post" id="post">
<div id="poststuff" class="metabox-holder" style="margin-top: 0px; padding-top: 0px;">

<div id="post-body">
<div id="post-body-content">


<div id="postdivrich" class="postarea" style="margin-top: 0px; padding-top: 0px;">
	<div id="editor-toolbar">
		<label class="screen-reader-text" for="title">Title</label>
		Title: <input type="text" name="post_title" size="35" tabindex="1" value="<%= @drft.title %>" id="title" autocomplete="off" />
		<div class="zerosize"><input accesskey="e" type="button" onclick="switchEditors.go('content')" /></div>
			<a id="edButtonHTML" class="hide-if-no-js" onclick="switchEditors.go('content', 'html');">HTML</a>
			<a id="edButtonPreview" class="active hide-if-no-js" onclick="switchEditors.go('content', 'tinymce');">Visual</a>
	</div>
	<div id="quicktags"><script type="text/javascript">edToolbar()</script></div>

<div id='editorcontainer'><textarea rows='20' class='theEditor' cols='40' name='content' tabindex='2' id='content'>
	<%= @drft.content %>
</textarea></div>

	<script type="text/javascript">
	edCanvas = document.getElementById('content');
	</script>

<table id="post-status-info" cellspacing="0"><tbody><tr>
	<td id="wp-word-count">Word count: <span id="word-count">594</span></td>
	<td class="autosave-info">
	<span id="autosave">&nbsp;</span>
<a id="save-now" style="cursor: pointer">Save now</a> | <span id="last-edit">Last saved at <span id="saved-at-hour"><%= @drft.updated_at.strftime("%I:%M:%S%p").downcase %></span> on <span id="saved-at-day">October 21, 2009</span></span>	</td>

</tr></tbody></table>
<div style="margin-top: 10px; font-size: 16px"><strong style="color: #ff4444">Remember:</strong> <a href="">http://draftback.com/<%= @drft.url %></a> is <strong>your private URL</strong> for editing this draft. Bookmark this page!</div>
</div>
</div>
<br class="clear" />

</div><!-- /poststuff -->
</form>
</div>


<div class="clear"></div></div><!-- wpbody-content -->
</div><!-- wpwrap -->


<script type="text/javascript">
/* <![CDATA[ */
tinyMCEPreInit = {
	base : "http://0.0.0.0:3000/tinymce/",
	suffix : "",
	query : "ver=3241-1141",
	mceInit : {mode:"specific_textareas", editor_selector:"theEditor", width:"100%", theme:"advanced", skin:"wp_theme", theme_advanced_buttons1:"bold,italic,strikethrough,|,formatselect,|,bullist,numlist,blockquote,|,justifyleft,justifycenter,justifyright,|,sub, sup,hr,|,fullscreen", theme_advanced_buttons2:"formatselect,underline,justifyfull,forecolor,|,pastetext,pasteword,removeformat,|,media,charmap,|,outdent,indent,|,undo,redo,wp_help", theme_advanced_buttons3:"", theme_advanced_buttons4:"", language:"en", spellchecker_languages:"+English=en,Danish=da,Dutch=nl,Finnish=fi,French=fr,German=de,Italian=it,Polish=pl,Portuguese=pt,Spanish=es,Swedish=sv", theme_advanced_toolbar_location:"top", theme_advanced_toolbar_align:"left", theme_advanced_statusbar_location:"bottom", theme_advanced_resizing:"1", theme_advanced_resize_horizontal:"", dialog_type:"modal", relative_urls:"", remove_script_host:"", convert_urls:"", apply_source_formatting:"", remove_linebreaks:"1", gecko_spellcheck:"1", entities:"38,amp,60,lt,62,gt", accessibility_focus:"1", tabfocus_elements:"major-publishing-actions", media_strict:"", save_callback:"switchEditors.saveCallback", wpeditimage_disable_captions:"", plugins:"safari,inlinepopups,spellchecker,paste,wordpress,media,fullscreen,wpeditimage,wpgallery,tabfocus"},
	load_ext : function(url,lang){var sl=tinymce.ScriptLoader;sl.markDone(url+'/langs/'+lang+'.js');sl.markDone(url+'/langs/'+lang+'_dlg.js');}
};
/* ]]> */
</script>

<%= javascript_include_tag "wp-tinymce" %>
<%= javascript_include_tag "wp-tinymce-langs" %>

<script type="text/javascript">
/* <![CDATA[ */
tinyMCEPreInit.go();
tinyMCE.init(tinyMCEPreInit.mceInit);
/* ]]> */

$(document).ready(function() {
    $("#title").focus(function() { $(this).select(); } );
	
});

</script>

<script type="text/javascript">if(typeof wpOnload=='function')wpOnload();</script>