<style type="text/css">
#draft {
	font-family: Georgia;
	font-size: 14px;
	width: 650px;
	margin-left: 120px;
	padding-right: 30px;
	padding-left: 30px;
	border-left: 4px solid #777;
	border-right: 4px solid #777;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	background-color: white;
	min-height: 600px;
	float: left;
}
li {
	margin-bottom: 10px;
}
.instructions {
	width: 650px;
	margin-left: 120px;
	padding-right: 30px;
	padding-left: 30px;
	border-left: 4px solid #777;
	border-right: 4px solid #777;
	font-family: Verdana;
	font-size: 11px;
	line-height: 1.3em;
	padding-top: 8px;
	padding-bottom: 10px;
	background-color: #ccc;
	float: left;
}
#wpcontent {
	background-color: #222;
	padding-bottom: 0px;
}
#wpbody {
	margin-top: 0px;
	padding-top: 0px;
}
#footer {
	margin-top: 0px;
}
#draft p {
	font-size: 14px;
}

li.name {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-topleft:4px;
	position: relative;
	left: -10px;
	cursor: pointer;
	padding-left: 40px;
	width: 259px;
	float: left;
	padding-bottom: 5px;
}

li.name:hover {
	color: #D54E21;
}

li.name.selected {
	background: white;
	color: #D54E21;
}

a.sentence {
	color: #333;
	text-decoration: none;
}

a.sentence.up {
	border-bottom: 1px solid #00b656;
}

a.sentence.up.has_note {
	background-color: #99ffaa;
}

a.sentence.down { 
	border-bottom: 1px solid #ee2200;
}

a.sentence.down.has_note {
	background-color: #ffdddd;
}

.note {
	padding: 10px;
	font-family: Courier;
	width: 400px;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #86acc1;
	background-color: #fff;
	opacity: 0.85;
	max-width: 450px;
}
#tooltip .contain {
	background: #cde9f8;
	border: 2px solid #fff;
	color: black;
	padding: 5px;
}
#tooltip h3, #tooltip div { 
	margin: 0;
	font-size: 12px;
	font-weight: bold;
}

</style>

<script type="text/javascript">
	var select_review = function(id) {
		$("#draft_content").html($("#review-" + id).find("#content").html());
		$("#draft_content").find(".note").each(function() { 
			$(this).hide();
		});
		$("li.name").removeClass("selected");
		$("li.name[review_id=" + id + "]").addClass("selected");
		$("#comments-header").show();
		if ($("#review-" + id).find("#general-comments").html() != "") {
			$("#the-general-comments").html($("#review-" + id).find("#general-comments").html())
		} else {
			$("#the-general-comments").html("");
			$("#comments-header").hide();
		}
		//$("#version").html("reviewed by <span style='color: #d54e21;'>" + $("#review-" + id).attr("signature") + "</span>")
	};
	$(document).ready(function() {
		//select_review(0);
		$(".name").click(function(ev) { 
			select_review($(this).attr("review_id"));
		});
		
		$("a.sentence").live("mouseover",
			function(ev) {
				var id = $(this).attr("id").split("-")[1];
				if (($("#draft_content").find("#note-" + id).html() != "") && ($("#draft_content").find("#note-" + id).html() != null)) {
					$("#show-note").html($("#note-" + id).html())
					$("#tooltip").css("top", ev.pageY - 30 + "px");
					$("#tooltip").css("left", ev.pageX + 20 + "px");
					//$("#note-" + id).css("height", $("#note-" + id)[0].scrollHeight);
					$("#tooltip").show();
				} else {
					$("#tooltip").hide();
				}
			}
		);
		
		$("a.sentence").live("mouseout",
			function(ev) {
				var id = $(this).attr("id").split("-")[1];
				$("#tooltip").hide();
			}
		);
		
		$("a.sentence").live("mousemove",
			function(ev) {
				$("#tooltip").css("top", ev.pageY - 30 + "px");
				$("#tooltip").css("left", ev.pageX + 20 + "px");
			}
		);
	});
</script>

<div id="tooltip" style="display: none; right: auto;"><div class="contain"><h3><span id="show-note"></span></h3></div></div>
<div style="position: absolute; top: 65px; left: 0px; padding-left: 20px; width: 250px; color: #aaa;">
	<h2 style="font-weight: normal; color: white">View feedback from:</h2>
	<ul style="margin-top: 10px;">
	<% @reviews.collect {|r| [r.signature, r.updated_at]}.each_with_index do |rev, i| %>
		<li class="name" review_id="<%= i %>"><span style="font-size: 21px; line-height: 1.4em;"><%= rev[0] %></span> <div style="font-size: 11px; line-height: 1em">&raquo; <%= rev[1].strftime('%a %b %d, %I:%M:%S%p').downcase %></div></li>
	<% end %>
	</ul>
</div>
<textarea id="note" class="note" affect="neutral" style="width: 250px; position: absolute; display: none;"></textarea>
<div id="draft">
	<h1 style="font-family: Arial; font-size: 22px; margin-top: 20px;"><%= @drft.title %></h1>
	<div id="draft_content">
		<%= HTMLEntities.new.decode(@drft.content) %>
	</div>
</div>
<div class="instructions">
	<h2 style="margin: 2px 0px 5px 0px; display: none;" id="comments-header">General Comments</h3>
	<span id="the-general-comments"></span>
</div>

<% @reviews.each_with_index do |rev, i| %>
	<div id="review-<%= i %>" signature="<%= rev.signature %>" timestamp="<%= rev.updated_at.strftime('%a %b %d %I:%M:%S%p').downcase %>" style="display: none;">
		<span id="content"><%= HTMLEntities.new.decode(rev.content) %></span>
		<span id="general-comments"><%= rev.general_comments %></span>
	</div>
<% end %>
</a>
</div>