<style type="text/css">
#draft {
	font-family: Georgia;
	font-size: 14px;
	width: 650px;
	margin-left: 120px;
	padding-right: 30px;
	padding-left: 30px;
	border-left: 4px solid #777;
	border-right: 4px solid #777;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	background-color: white;
	min-height: 400px;
	float: left;
}
li {
	margin-bottom: 0px;
}
.instructions {
	width: 650px;
	margin-left: 120px;
	padding-right: 30px;
	padding-left: 30px;
	border-left: 4px solid #777;
	border-right: 4px solid #777;
	font-family: Verdana;
	font-size: 11px;
	line-height: 1.3em;
	padding-top: 8px;
	padding-bottom: 10px;
	background-color: #ccc;
	float: left;
}
#wpcontent {
	background-color: #222;
	padding-bottom: 0px;
}
#wpbody {
	margin-top: 0px;
	padding-top: 0px;
}
#footer {
	margin-top: 0px;
}
#draft p {
	font-size: 14px;
	line-height: 1.4em;
}

a.sentence {
	color: #333;
	text-decoration: none;
}

a.sentence:hover {
	background-color: #eee;
}

a.sentence.up {
	border-bottom: 1px solid #00b656;
}

a.sentence.up.has_note {
	background-color: #99ffaa;
}

a.sentence.down { 
	border-bottom: 1px solid #ee2200;
}

a.sentence.down.has_note {
	background-color: #ffdddd;
}

a.sentence .heading {
	color: #333;
	text-decoration: none;
}

a.sentence:hover .heading {
	background-color: #eee;
}

a.sentence.up .heading {
	border-bottom: 1px solid #00b656;
}

a.sentence.up.has_note .heading {
	background-color: #99ffaa;
}

a.sentence.down .heading { 
	border-bottom: 1px solid #ee2200;
}

a.sentence.down.has_note .heading {
	background-color: #ffdddd;
}

.note {
	padding: 10px;
	font-family: Courier;
	height: 90px;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #86acc1;
	background-color: #fff;
	opacity: 0.85;
	max-width: 450px;
}
#tooltip .contain {
	background: #cde9f8;
	border: 2px solid #fff;
	color: black;
	padding: 5px;
}
#tooltip h3, #tooltip div { 
	margin: 0;
	font-size: 12px;
	font-weight: bold;
}

</style>

<script type="text/javascript">
var times = '<%= @n_zeros %>'.split('');
var t = null;

var save_review = function(continuous) {
	var content = $("#draft_content").html();
	$.post("/drafts/save_review", {authenticity_token: AUTH_TOKEN, draft_id: <%= @draft.id %>, content: content, signature: $("#signature").attr("value"), general_comments: $("#general_comments").val()},
		function(ret) {
			var ret = JSON.parse(ret);
			var now = new Date();
			document.title = "(saved at " + now.format("h:MM:sstt") + " on " + now.format("dddd dS, yyyy") + ")";
		}
	)
	if (continuous) {
		setTimeout("save_review(true)", 1000 * 30) // Save every thirty seconds.
	} else {
		return false;
	}
};

var hide_notes = function(affect) {
	$(".note:visible[affect=" + affect + "]").each(function(e) {
		if ($(this).val() == "") {
			$(this).hide();
			$("#sent-" + $(this).attr("id").split("-")[1]).removeClass("has_note");
		} else {
			$(this).html($(this).val());
		}
	});
};

$(document).ready(function() {
	$(".note").live("keydown", function(e) {
		if (e.keyCode == 13) {
			$(this).hide();
			if ($(this).val() != "") {
				$("#sent-" + $(this).attr("id").split("-")[1]).addClass("has_note");
				$(this).html($(this).val());
			} else {
				$("#sent-" + $(this).attr("id").split("-")[1]).removeClass("has_note");
				$(this).html($(this).val());
			}
		};
	});
	
	setTimeout("save_review(true)", 3000);

	var pop_note = function(id, action, ev) {
		var $note = $("#note-" + id);
		if ($note.length == 0) { 
			$note = $("#note").clone();
			$note.appendTo("#draft_content");
			$note.attr("id", "note-" + id);
		};
		$note.val($note.val().replace("\n", ""));
		if (action == 'up') {
			$note.attr("affect", "good");
			$note.css("left", "40px");
			$note.css("top", (ev.pageY - 10) + "px");
			$note.focus();
			$note.show();
		} else if (action == 'down') {
			$note.attr("affect", "bad");
			$note.css("left", "40px");
			$note.css("top", (ev.pageY - 10) + "px");
			$note.focus();
			$note.show();
		} else {
			$note.attr("affect", "neutral");
			$note.hide();
			if ($note.val() == "") {
				$("#sent-" + $note.attr("id").split("-")[1]).removeClass("has_note");
				$note.html($note.val());
			};
		};
		$note.focus();
		t = setTimeout("hide_notes('" + $note.attr("affect") + "')", 2000);
		return false;
	}
	
	$(".sentence").click(function(ev) {
		clearTimeout(t);
		$(".note").each(function(e) {
			$(this).hide();
		});
		var i = $(this).attr("id").split("-")[1] * 1
		if (times[i] == '0') {
			$(this).addClass("up");
			pop_note(i, "up", ev);
			times[i] = '1';
		} else if (times[i] == '1') {
			$(this).removeClass("up");
			$(this).addClass("down");
			pop_note(i, "down", ev);
			times[i] = '2';
		} else {
			$(this).removeClass("up");
			$(this).removeClass("down");
			pop_note(i, "neutral", ev);
			times[i] = '0';
		};
		return false;
	});
	
	$("a.sentence").live("mouseover",
		function(ev) {
			var id = $(this).attr("id").split("-")[1];
			if ($("#note-" + id).html() != "" && $("#note-" + id).html() != null) {
				$("#show-note").html($("#note-" + id).html());
				$("#tooltip").css("top", ev.pageY - 30 + "px");
				$("#tooltip").css("left", ev.pageX + 20 + "px");
				//$("#note-" + id).css("height", $("#note-" + id)[0].scrollHeight);
				$("#tooltip").show();
			} else {
				$("#tooltip").hide();
			}
		}
	);
	
	$("a.sentence").live("mouseout",
		function(ev) {
			var id = $(this).attr("id").split("-")[1];
			$("#tooltip").hide();
		}
	);
	
	$("a.sentence").live("mousemove",
		function(ev) {
			$("#tooltip").css("top", ev.pageY - 30 + "px");
			$("#tooltip").css("left", ev.pageX + 20 + "px");
		}
	);
});
</script>
<div id="tooltip" style="display: none; right: auto;"><div class="contain"><h3><span id="show-note"></span></h3></div></div>
<textarea id="note" class="note" affect="neutral" style="width: 250px; position: absolute; display: none;"></textarea>
<div class="instructions">
	<h2 style="margin: 2px 0px 5px 0px;">Instructions:</h2>
	<ol style="font-size: 11px;">
		<li>Click a sentence <strong>once</strong> if you like it and <strong>twice</strong> if you don't.</li>
		<li>A window for <strong>quick notes</strong> will pop up in either case. <strong>Notes disappear</strong> if you don't type anything.</li>
		<li>If you do leave comments, <strong>hit enter</strong> to close the note window. <strong>Everything will be saved automatically</strong>.</li>
	</ol>
</div>

<div id="draft">
	<div style="float: right; margin-top: 10px;"><a href="/drafts/refresh_review?public_url=<%= params[:id] %>&amp;draft_id=<%= @draft.id %>">Refresh latest draft and start over</a></div>
	<h1 style="font-family: Arial; font-size: 22px; margin-top: 20px; line-height: 1.2em;"><%= @draft.title %></h1>
	<div id="draft_content">
	<% if @content.nil? %>
		Whoops, it looks like something's gone horribly wrong and we've lost your work.
	<% else %>
		<%= @content %>
	<% end %>
	</div>
</div>
</a>
<script language="javascript" src="/javascripts/simpleswap.js"></script>
<div class="instructions">
	<h3 style="margin: 2px 0px 5px 0px;">General Comments:</h3><textarea id="general_comments" style="width: 100%; height: 90px; padding: 10px; font-family: Courier"><%= @general_comments %></textarea>
	<hr>
	<div style="float: left; font-size: 12px; padding-top: 5px;"><h3 style="margin: 2px 0px 5px 0px;">All done? Sign your name: <input type="text" style="font-family: Verdana; width: 180px; height: 25px; vertical-align: middle; padding-top: 2px; font-size: 13px; text-align: center; font-weight: bold; color: #555" id="signature" value="<%= @signature %>"/> and</h3></div> <div style="float: right"><a href="#" id="submit-review"><img src="/images/button.png" oversrc="/images/button-hover.png"/></a></div>
</div>
